body{
	background: #f6f6f6;
}
.content{
	/*border: 1px solid;*/
	width: 756px;
	margin: 0 auto;
	background: #f6f6f6;
}

.header{
	border-bottom: 3px solid #9ec4f1;
}
.header-image{
	/*border: 1px solid;*/
	padding:0px;
}
.header-logo{
	width:12.422360248447205%
}
.logo{
	/*border: 1px solid;*/
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.header-block{
	margin-top: 20px;
	/*border: 1px solid  green;*/
	/*width: 994px;*/
}
.block{
	display: inline-block;
	/*border: #f5f5f5 solid 1px ;*/
	padding: 10px 30px;
	box-sizing: border-box;
	width: 16.666666666666667%; 
	/*margin-right: 0.2px;*/
	background: #ffffff;
}
.empty{
	/*width: 994px;*/
	height: 3px;
	background: #9ec4f1
}
.body{
	margin-top:19px;

}
.body-image{

}
.image{/*
	max-width: 100%;
	width: 100%;*/
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}
.body-content{
	margin-top: 22px;/*
	border: 1px solid;*/
	
}
.left-block{
	/*border: solid 1px;*/
	box-sizing: border-box;
	float:left;
	width: 63%;
	padding: 20px;
	background: #ffffff;
}
.right-block{
	/*border: solid 1px;*/
	float: right;
	width: 36%;
	height: 356px;
	background: #ffffff;
}
.tema{
	margin-left: 20px;
	font-family: Georgia;
}
.text{
	margin-left: 20px;
	font-family: Georgia;
}
.pred{
	margin-left: 20px;
	font-family: Georgia;
}
.end-text{
	color:#c7c7c9;
	font-family: Georgia;
}
